
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form method="post">
    <input name="email"/>
    <hr />
    <input name="password"/>
    <hr />
    <input type="submit" value="Giriş"/>
</form>